{{ template "header.html" .}}

    <div class="container text-light my-3">
        <div class="row justify-content-center">
            <div style="text-align: center">
                <h2>Keys</h2>
                <div class="container py-2">
                    <a class="btn btn-primary" href="/add_key" role="button">Add Key</a>
                </div>
                <table class="table table-striped table-hover table-bordered table-dark">
                    <thead class="table-dark">
                        <tr>
                            <th>Key</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Keys }}
                            <tr>
                                <td>{{ .Name }}</td>
                                <td>{{ .Description }}</td>
                                <td>{{ .Status }}</td>
                                <td>
                                    <a class="btn btn-outline-primary" href="#" role="button">Edit</a>
                                </td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{{ template "footer.html" .}}
